<div id="headerDiv">
  <p class="h5">- ABOUT ME -</p>
</div>
<div class="articles">
  <p>
    App created in November 2020, using the following technologies:
  </p>
  <p>
    JavaScript, HTML, CSS, Express, MongoDB, Mongoose, Handlebars, Bootstrap, Axios, Passport, Microsoft Azure and
    TheCocktailDB API.
  </p>
  <p>
    Non-commercial use.
  </p>
  <p>
    I hope you enjoy &#10084;
  </p>
  <p>
    Iván Urra
  </p>
</div>
<button type="button" class="btn btn-primary"><a id="buttonNoStyle" href="https://github.com/ivanurra">GitHub</a></button>
<button type="button" class="btn btn-dark"><a id="buttonNoStyle" href="https://www.linkedin.com/in/ivanurra/">LinkedIn</a></button>
