<div id="headerDiv">
  <p class="h5">- BLOG -</p>
  <p class="h6">Read the best articles about the world of cocktails.</p>
</div>
<div class="text-center">
  <img id="iconCocktail" src="/images/icon.png" class="rounded" alt="cocktail icon">
</div>
<div class="articles">
  <p class="h5"><b>The World's 10 Best Bars 2020:</b></p>
  <p>
    The list of The World's 50 Best Bars 2020, sponsored by Perrier, was revealed on Thursday, 5th November via an
    online awards ceremony, aiming to bind the community even closer together and provide positive news for bars as they
    enter the next stage of recovery from the global pandemic.
    The 12th edition of the annual ranking features bars from 23 countries, including ten new entries and four
    re-entries, and provides a snapshot of the world's greatest cocktail venues according to the votes of The World's 50
    Best Bars Academy.
    Visit The World's 50 Best Bars website for the full profiles of the bars and take a tour of the 50 award-winning
    cocktail destinations below
  </p>
  <img src="/images/photo1.jpg" class="img-fluid" alt="Responsive image">
  <p>
    <b>1. Connaught Bar:</b>
    <br>
    It’s hard to think of a bar anywhere in the world that has made excellence so effortlessly routine as Connaught Bar.
    This Mayfair hotel bar’s trick is it isn’t trend-chasing and flash; under the stewardship of Ago Perrone, Giorgio
    Bargiani and Maura Milia, it evolves from one
    year to the next, always delivering with poise and studied purpose. It’s been knocking on the door for a number of
    years, but 2020 sees Connaught Bar a vindicated winner of The World’s Best Bar and The Best Bar in Europe, sponsored
    by Perrier.
    <br>
    <a class="linksBlue" href="the-connaught.co.uk/connaught-bar">the-connaught.co.uk/connaught-bar</a>
  </p>

  <p>
    <b>2. Dante:</b>
    <br>
    With more than a century of memories, Café Dante is an ode to New York hospitality past – but also its future. Its
    clean white tiles and Italian styling frame a buzzing all-day atmosphere – the sort of place that fits the times:
    you’d pop by for a coffee, be seduced by the pasta and then find yourself making your way through the expertly
    embellished list of Negronis. Dante is the Best Bar in North America 2020, sponsored by Asahi Super Dry.
    <br>
    <a class="linksBlue" href="dante-nyc.com ">dante-nyc.com </a>
  </p>

  <p>
    <b>3. The Clumsies:</b>
    <br>
    Though now a powerhouse of the global bar community, fame never changed The Clumsies. This is the bar that always
    put the important things first – the quality on the plate and in the glass, never forgetting the warm Athenian
    hospitality. Set in a townhouse downtown, The Clumsies is homely, with friendly, joyous vibes freely flowing through
    the building.
    <br>
    <a class="linksBlue" href="the-connaught.co.uk/connaught-bar">the-connaught.co.uk/connaught-bar</a>
  </p>
  <img src="/images/photo2.jpg" class="img-fluid" alt="Responsive image">
  <p>
    <b>4. Atlas:</b>
    <br>
    Upon entering Atlas, you’d be forgiven for thinking Batman might be lurking. After all, Parkview Square building is
    modelled after western-style Art Deco hotels and is commonly referred to as Gotham. With a list of more than 1,300
    gin labels, the bar's moniker as the best spirits collection in the world is well deserved, but head barman Jesse
    Vida’s drinks collection is also a force to be reckoned with. Where else would you rather spend the day than in The
    Best Bar in Asia, sponsored by Rémy Martin?
    <br>
    <a class="linksBlue" href="atlasbar.sg">atlasbar.sg</a>
  </p>

  <p>
    <b>5. Tayēr + Elementary (New Entry):</b>
    <br>
    This eagerly anticipated venue from bartending super group Monica Berg and Alex Kratena landed in 2019, meeting,
    even exceeding, expectations. A bar of two parts, Elementary is the easy-going space you’ll first step foot in, with
    floor-to-ceiling windows welcoming you in from Old Street. Behind the concrete partition is Tayēr, where things get
    more serious. Centred by a large square bar, this is the cocktail boutique where creativity knows no bounds. After
    landing in the list at a higher position than all other new entries this year, Tayēr + Elementary is the Disaronno
    Highest New Entry 2020.
    <br>
    <a class="linksBlue" href="tayer-elementary.com">tayer-elementary.com</a>
  </p>

  <p>
    <b>6. Kwānt:</b>
    <br>
    Kwānt is a derivative of quaint; and isn’t this bar just? One foot into Erik Lorincz’s venue and you’re transported
    to another time, another clime. Continuing the journey from Moroccan restaurant Momo upstairs, Kwant puts you
    bar-side with Humphrey Bogart in the 1940s classic Casablanca, just with exquisite cocktails and a lot more colour.
    Kwānt is the winner of the London Essence Best New Opening Award 2020, given to a bar with the highest position in
    the list that has opened in the past 18 months.
    <br>
    <a class="linksBlue" href="kwantlondon.com ">kwantlondon.com </a>
  </p>

  <p>
    <b>7. Florería Atlántico:</b>
    <br>
    Florería Atlántico is a speakeasy, but not as you know it. There’s the expected nondescript door, sure, but it’s
    hidden beneath a florist – also owned by the dynamic hospitality industry duo Aline Vargas and Renato Giovannoni.
    This is a cosmopolitan sort of basement bar, attracting a fun-loving Buenos Aires crowd to the old docks of the
    Argentinian capital. Once again Florería Atlántico is named The Best Bar in South America, sponsored by iichiko
    Saiten, and its mastermind Giovannoni the Altos Bartenders’ Bartender 2020.
    <br>
    <a class="linksBlue" href="floreriaatlantico.com.ar ">floreriaatlantico.com.ar </a>
  </p>
  <img src="/images/photo3.jpg" class="img-fluid" alt="Responsive image">
  <p>
    <b>8. Coa:</b>
    <br>
    Mexicana drinking den Coa is a shrine to all things agave. Inspired by owner and hospitality hero Jay Khan’s trips
    to Mexico, the bar is named after the axe-like tool used to harvest the plant used to make the spirit. Coa’s
    collection of over 180 hand-crafted spirits includes tequila, mezcal, raicilla, sotol, bacanora, charanda and a
    variety of pechuga mezcal, from turkey breast to lamb leg distilled. Coa is also the winner of the Nikka Highest
    Climber 2020, after a meteoric rise from 49th in 2019 to 8th place in this year’s ranking.
    <br>
    <a class="linksBlue" href="coa.com.hk ">coa.com.hk </a>
  </p>

  <p>
    <b>9. Jigger and Pony:</b>
    <br>
    Recently crowned the No.1 in Asia’s 50 Best Bars, Jigger and Pony has gone from strength to strength since its venue
    shift almost two years ago. The past year saw a well-curated programme of guest shifts by other world-class
    mixologists such as Ryan Chetiyawardana and new cocktail menus, combined with the winning combination of a convivial
    atmosphere, fun vibes and professional service.
    <br>
    <a class="linksBlue" href="jiggerandpony.com ">jiggerandpony.com </a>
  </p>

  <p>
    <b>10. The SG Club:</b>
    <br>
    The SG Club is really four bars in one. The team has been busy in 2020, launching a trio of own-brand shochus
    designed for cocktails, revamping the menus to spotlight those new spirits, and at a time when flying abroad was all
    but impossible, launching SG Airways, a cocktail-pairing dinner event that takes guests on a whirlwind
    round-the-world gastro-tour, complete with boarding passes for menus.
    <br>
    <a class="linksBlue" href="sg-management.jp ">sg-management.jp </a>
  </p>
</div>
<button id="button-main" class="btn btn-secondary btn-lg btn-block" type="button"><a id="buttonNoStyle"
    href="/blog">back to
    top</a></button>