<h3>COCKTAILS</h3>
<br>
<br>
<h2>Find cocktail:</h2>
  <input type="text" id="typedCocktail">

  <button onclick="getCocktailInfo()">Search</button>

  <p id="name"></p>
  <img src="#" alt="" id="flag">

</div>
<br>
<br>
<a href="/">Back to menu</a>