<div id="ourCocktails">

    <div id="headerDiv">
      <p class="h5">- OUR COCKTAILS -</p>
      <p class="h6">Enjoy our selection of the best cocktails in the world.</p>
    </div>

    <div class="text-center">
      <img id="iconCocktail" src="/images/icon.png" class="rounded" alt="cocktail icon">
    </div>
    <br>
    <div class="input-group flex-nowrap">
      <input id="typedCocktail" type="text" class="form-control" placeholder="Search by name or ingredient" aria-label="Username" aria-describedby="addon-wrapping">
    </div>

    <button onclick="getCocktailInfo()" type="button" class="btn btn-success btn-lg btn-block">SEARCH</button>
   
    <div id="strDrink"></div>
    

</div>

