<h3>COCKTAILS</h3>
<br>
<br>
 <input type="text" id="typedCocktail">

  <button onclick="getCocktailInfo()">SEARCH</button>

  <p id="strDrink"></p>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/javascripts/script.js"></script>