<div id="carouselExampleSlidesOnly" class="carousel slide mw-100" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="/images/main-photo1.jpg" class="d-block w-100" alt="cocktail">
        <p class="banner"><a href="/cocktails">Enjoy our premium selection</a></p>
        <p id="bannerTitle"><a href="/cocktails">Cocktail Guide</a></p>
        <img src="/images/main-photo2.jpg" class="d-block w-100" alt="bartender">
        <p class="banner"><a href="/yourcocktails">Create and account to share your cocktails with friends & family.</a></p>
        <img src="/images/main-photo3.jpg" class="d-block w-100" alt="mojito">
    </div>
  </div>
</div>
<footer id="footer" class="page-footer font-small purple">
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a class="linksBlue" href="https://github.com/ivanurra"> Iván Urra</a>
    <p>Personal and non-commercial use.</p>
  </div>
</footer>
