<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="/images/main-photo1.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>

<footer id="footer" class="page-footer font-small purple">
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://github.com/ivanurra"> Iván Urra</a>
  </div>
  <div class="footer-copyright text-center py-3">
    <p>Personal and non-commercial use.</p>
  </div>
</footer>
