<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="5000">
        <img src="/images/main-photo1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item active" data-interval="5000">
      <img src="/images/main-photo2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item active" data-interval="5000">
      <img src="/images/main-photo3.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>