<div id="headerDiv">
    <p class="h5">- LOG IN -</p>
    <p class="h6">Come in and start creating your cocktails.</p>
</div>
<form id="userAuth" action="/login" method="POST">
  <div class="form-group">
      <div>
            <label for="username">Username</label>
            <input type="text"  name="username" class="form-control" id="username" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your info with anyone else.</small>
      </div>
  </div>
  <div class="form-group">
      <div>
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password">
      </div>
  </div>
  <button type="submit" class="btn btn-secondary">LOG IN</button>
    {{#if errorMessage}}
    <p>{{errorMessage}}</p>
    {{/if}}
</form>
