<h1>SIGN UP</h1>
<h3>Good decision! If you register, you can save your recipes.</h3>


<form action="/signup" method="POST">

   <label for="username">Username: </label>
    <input type="text" name="username" id="username">
    <br>
    <label for="password">Password: </label>
    <input type="password" name="password" id="password">
    <br>
    <button type="submit" class="button is-primary">SIGN UP</button>

    {{#if errorMessage}}
    <p>{{errorMessage}}</p>
    {{/if}}
</form>
<br>
<br>
<br>
<a href="/">Back to menu</a>