{{!-- 
<form action="/signup" method="POST">

   <label for="username">Username: </label>
    <input type="text" name="username" id="username">
    <br>
    <label for="password">Password: </label>
    <input type="password" name="password" id="password">
    <br>
    <button type="submit" class="button is-primary">SIGN UP</button>

    {{#if errorMessage}}
    <p>{{errorMessage}}</p>
    {{/if}}
</form> --}}

<div id="headerDiv">
    <p class="h5">- SIGN UP -</p>
    <p class="h6">Register to start creating your cocktails.</p>
</div>
<form id="userAuth" action="/sign-up" method="POST">
  <div class="form-group">
      <div>
            <label for="username">Username</label>
            <input type="text"  name="username" class="form-control" id="username" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your info with anyone else.</small>
      </div>
  </div>
  <div class="form-group">
      <div>
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password">
      </div>
  </div>
  <button type="submit" class="btn btn-secondary">SIGN UP</button>
    {{#if errorMessage}}
    <p>{{errorMessage}}</p>
    {{/if}}
</form>