body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


#button-main{
  margin: 5px;
}

.nav-link{
  font-size: 20px;
}

#logo{
  font-family: 'Italianno', cursive;
  font-family: 'Norican', cursive;
  font-size: 40px;
  color: white;
}