body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#button-main{
  margin: 5px;
}

.nav-link{
  font-size: 20px;
  margin: 15px;
}

#logo{
  font-family: 'Italianno', cursive;
  font-family: 'Norican', cursive;
  font-size: 40px;
  color: white;
}

#footer{
  background-color: rgb(52, 58, 64);
  color: white;
}

#userAuth{
  margin: 30px;
}

#headerDiv{
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
}

#iconCocktail{
  width: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.articles{
  margin-top: 15px;
  margin-bottom: 15px;
}

.img-fluid {
  margin-top: 25px;
  margin-bottom: 25px;
}

#strDrink{
  margin-top: 15px;
  margin-bottom: 15px;
}

#buttonNoStyle{
  color: white;
}

#buttonNoStyleTwo{
  text-decoration: none;
  color: black;
}

.titles{
  font-weight: bold;
  font-size: 1.2em;
}

/******** RESPONSIVE ********/

@media (max-width: 414px) {
  #logo{
    font-size: 37px;
  }
  footer{
    font-size: 18px;
  }
}

@media (max-width: 375px) {
  #logo{
    font-size: 30px;
  }
  footer{
    font-size: 15px;
  }
}

@media (max-width: 321px) {
  #logo{
    font-size: 21px;
  }
  footer{
    font-size: 10px;
  }
}
