body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

#button-main{
  margin: 5px;
}

.nav-link{
  font-size: 20px;
  margin: 15px;
}

#logo{
  font-family: 'Italianno', cursive;
  font-family: 'Norican', cursive;
  font-size: 55px;
  color: white;
}

#footer{
  background-color: rgb(52, 58, 64);
  color: white;
  font-size: 18px;
}

#carouselExampleSlidesOnly{
  background-color: rgb(52, 58, 64);
}

#userAuth{
  margin: 30px;
}

#headerDiv{
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
}

#iconCocktail{
  width: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.articles{
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

.img-fluid {
  margin-top: 25px;
  margin-bottom: 25px;
}

#strDrink{
  margin-top: 15px;
  margin-bottom: 15px;
}

#buttonNoStyle{
  color: white;
}

#buttonNoStyleTwo{
  text-decoration: none;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
}

#buttonsGroup{
  margin: 15px;
  display: flex;
  justify-content: center;
}

.titles{
  font-weight: bold;
  font-size: 1.2em;
}

#ourCocktails{
  padding: 5px;
}

#blog{
  margin: 5px;
}

.banner{
  text-align: center;
  font-style: italic;
  font-size: 30px;
  color: white;
  margin: 20px;
  text-decoration: none;
}

.banner:hover a{
  text-decoration: none;
  color: white;
}

#bannerTitle{
  text-align: center;
  font-family: 'Italianno', cursive;
  font-family: 'Norican', cursive;
  font-size: 33px;
  color: white;
  text-decoration: none;
}

#bannerTitle:hover a{
  text-decoration: none;
  color: white;
}

.linksBlue{
  color: deepskyblue;
}

/******** RESPONSIVE ********/

@media (max-width: 415px) {
  #logo{
    font-size: 45px;
  }
  #footer{
    font-size: 15px;
  }

  .banner{
    font-size: 26px;
  }
  
  #bannerTitle{
    font-size: 24px;
  }
}

@media (max-width: 376px) {
  #logo{
    font-size: 40px;
  }
  #footer{
    font-size: 14px;
  }

  .banner{
    font-size: 24px;
  }
  
  #bannerTitle{
    font-size: 22px;
  }
}

@media (max-width: 321px) {
  #logo{
    font-size: 35px;
  }
  #footer{
    font-size: 10px;
  }

  .banner{
    font-size: 20px;
  }
  
  #bannerTitle{
    font-size: 18px;
  }
}
