<h1>Create new recipe</h1>
<br>
<br>
<form action="/yourcocktails" method="POST">

  <label for="author">Author: </label>
  <input type="text" name="author" id="author">

  <label for="name">Cocktail Name: </label>
  <input type="text" name="name" id="name" placeholder="Required" required="true" minlength="1">

  <label for="ingredient1">Ingredient 1: </label>
  <input type="text" name="ingredient1" id="ingredient1" placeholder="Required" required="true" minlength="1">

  <label for="ingredient2">Ingredient 2: </label>
  <input type="text" name="ingredient2" id="ingredient2">

  <label for="ingredient3">Ingredient 3: </label>
  <input type="text" name="ingredient3" id="ingredient3">

  <label for="ingredient4">Ingredient 4: </label>
  <input type="text" name="ingredient4" id="ingredient4">

  <label for="ingredient5">Ingredient 5: </label>
  <input type="text" name="ingredient5" id="ingredient5">

  <label for="ingredient6">Ingredient 6: </label>
  <input type="text" name="ingredient6" id="ingredient6">

  <label for="ingredient7">Ingredient 7: </label>
  <input type="text" name="ingredient7" id="ingredient7">

  <label for="ingredient8">Ingredient 8: </label>
  <input type="text" name="ingredient8" id="ingredient8">

  <label for="ingredient9">Ingredient 9: </label>
  <input type="text" name="ingredient9" id="ingredient9">

  <label for="instructions">Instructions: </label>
  <textarea type="text" name="instructions" id="instructions" placeholder="Required" required="true" minlength="1"></textarea>

  <button type="submit">Create Quote</button>

</form>
<br>
<a href="/">Back to menu</a>

